.covid-view {
    position: relative;
    height: 60vh !important;
    width: 80vw;
    margin: auto;
    padding: 2rem;
  
    .covid-sum {
      justify-content: space-around;
      padding: 2rem;
  
      >h5 span {
        color: rgb(75, 45, 145);
      }
    }
  }
  
  #legend {
    font-family: avenir;
    background: rgb(15, 84, 94);
    list-style: none;
    font-size: 22px;
  }
  